</main>
<!-- Footer -->
<footer></footer>
<section data-bs-version="5.1" class="footer7 cid-tCMXpldPx6" once="footers" id="footer7-1c">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2023 Hadia - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
</footer>
<!-- Scripts -->
<script>
// Get all the message elements
const messageElements = document.querySelectorAll('.messages');

// Function to hide a message element
const hideMessage = (messageElement) => {
  messageElement.style.display = 'none';
};

// Display the messages
messageElements.forEach((messageElement) => {
  messageElement.style.display = 'block';
  
  // Hide the message after 15 seconds
  setTimeout(() => {
    hideMessage(messageElement);
  }, 15000);
});



</script>
<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>   <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/theme/js/script.js"></script>  
  <script src="/css/style.js"></script>  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
</body>
</html>