<%- include('./layouts/header') %>
<section data-bs-version="5.1" class="header5 cid-tCMYgG446j mbr-fullscreen" id="header5-1e">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>National Interventions</strong></h1>
                
                <p class="mbr-text mbr-fonts-style mbr-white display-7">
                    Expense Portal</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-info display-7" href="/auth/login">Login&nbsp;</a>
                    <a class="btn btn-white-outline display-7" href="/auth/register">Register</a></div>
            </div>
        </div>
    </div>
</section>

    <%- include('./layouts/footer') %>