<%- include('./layouts/header') %>


<section data-bs-version="5.1" class="form4 cid-tCvUzO2gSd mbr-fullscreen" id="reset-password_form">
    <div class="container-fluid">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-3 offset-lg-1 mbr-form">
                <form action="/reset-password/<%= token %>" method="post" class="mbr-form form-with-styler" data-form-title="Form Name">
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                <strong>Change Password</strong></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-4 display-7">Please Enter your New Password</p>
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group mb-3" data-for="name">
                            <input type="password" name="password" placeholder="New Password" data-form-field="password" class="form-control" value="" id="password">
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group mb-3" data-for="email">
                            <input type="password" name="confirm-password" placeholder="Confirm Password" data-form-field="confirm-password" class="form-control" value="" id="confirm-password">
                        </div>
                        <div class="col-12 col-md-auto mbr-section-btn"><button type="submit" class="btn btn-danger-outline display-4"><span class="mobi-mbri mobi-mbri-key mbr-iconfont mbr-iconfont-btn"></span>RESET PASSWORD</button></div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12">
                <div class="image-wrapper">
                    <img class="w-100" src="/assets/images/mbr-1-1395x1395.png" alt="Reset Password">
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./layouts/footer') %>