<%- include('./layouts/header') %>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="user">
                <img src="/assets/images/user.png" alt="User Image">
                <div class="dropdown">
                  <div class="dropdown-header">
                    <h3><%= user.name %></h3>
                    <p>FCM</p>
                  </div>
                  <div class="dropdown-links">
                    <a href="/user/profile"><i class="fa fa-home"></i>Profile</a>
                    <a href="/fcm/settings"><i class="fa fa-cogs"></i>Settings</a>
                  </div>
                  <div class="dropdown-footer">
                    <a href="/auth/logout">Logout</a>
                  </div>
                </div>
            </div>
              

           
        </div>


        <div class="dashboard">
            <div class="featured">
                <div class="card-info">
                    <h2 class="heading">You May Have Expenses to Verify</h2>
                    <a class="button" href="/fcm/expenses">Verify Expenses</a>
                </div>
                <div class="card-image"></div>
            </div>
            <div class="calendar">
                <div class="calendar-body">
                    <span class="month-name">Month</span>
                    <span class="day-name">Day</span>
                    <span class="date-number">00</span>
                    <span class="year">0000</span>
                </div>
            </div>

            <script type="text/javascript">
                const dayNumber = new Date().getDate();
                const year = new Date().getFullYear();
                const dayName = new Date().toLocaleString("default", { weekday: "long" });
                const monthName = new Date().toLocaleString("default", { month: "long" });

                document.querySelector(".month-name").innerHTML = monthName;
                document.querySelector(".day-name").innerHTML = dayName;
                document.querySelector(".date-number").innerHTML = dayNumber;
                document.querySelector(".year").innerHTML = year;
            </script>
        </div>

        <!-- next section-->
        <div class="data">
            <h2>Quick Links</h2>
            <div class="datacards">
                <div class="cards">
                    <img src="/assets/images/cost.png" alt="Card image 1">
                    <h3>Expense Database</h3>
                    <a href="/fcm/expenses-data">View</a>
                </div>
                <div class="cards">
                    <img src="/assets/images/region.png" alt="Card image 2">
                    <h3>Region Database</h3>
                    <a href="#">View</a>
                </div>
                <div class="cards">
                    <img src="/assets/images/settings.png" alt="Card image 3">
                    <h3>Settings</h3>
                    <a href="/fcm/settings">View</a>
                </div>
            </div>
        </div>







    </div>



    <%- include('./layouts/footer') %>