<!-- =============== Navigation ================ -->
<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="person-circle-outline"></ion-icon>

          </span>
          <span class="title brand">FCM</span>
        </a>
      </li>

      <li id="dashboard">
        <a href="/dashboard">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li id="expense">
        <a href="/fcm/expenses">
          <span class="icon">
            <ion-icon name="bar-chart-outline" alt="Verify Expenses"></ion-icon>
          </span>
          <span class="title">Verify Expenses</span>
        </a>
      </li>
      <li id="expenses-data">
        <a href="/fcm/expenses-data">
          <span class="icon">
            <ion-icon name="server-outline"></ion-icon>
          </span>
          <span class="title">Expense Database</span>
        </a>
      </li>
      <li id="reg-data">
        <a href="/fcm/region-data">
          <span class="icon">
            <ion-icon name="analytics-outline"></ion-icon>
          </span>
          <span class="title">Region-Data</span>
        </a>
      </li>
      <li>
        <a href="/user/profile">
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span class="title">Profile</span>
        </a>
      </li>

      

      <li id="settings">
        <a href="/fcm/settings">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">Settings</span>
        </a>
      </li>

    

      <li>
        <a href="/auth/logout">
          <span class="icon">
            <ion-icon name="power-outline"></ion-icon>
          </span>
          <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
  
